article {
  padding-top: 4 * $padding;

  h1 + p {
    font-weight: bold;
  }

  img {
    margin: 0 -10px;
    width: calc(100% + 20px);

    @media (min-width: $container+2*20px) {
      margin: 0 -1 * 20px;
      width: calc(100% + #{2 * 20px});
    }
  }

  pre,
  .article-moreFromSeries {
    margin: 0 -10px;
    width: calc(100% + 20px);
    padding: 0 10px;
    box-sizing: border-box;

    @media (min-width: $container+2*20px) {
      margin: 0 -20px;
      width: calc(100% + 40px);
      padding: 10px 20px;
      border-radius: $border-radius;
    }

    overflow: auto;
  }
}

.article-preview {
  h2 {
    margin: 0 0 2 * $padding;
  }
}

.article-date {
  text-align: right;
}

.article-series {
  font-size: 0.8rem;
  margin: 0;
  padding: 0 0.5rem;
  color: var(--color-tag-text) !important;
  font-family: $font-family-heading;
  text-decoration: none;
  background-color: var(--color-tag-background);
  display: inline-block;
  border-radius: 3px;

  &:hover {
    background-color: var(--color-tag-background-hover);
  }
}

.article-footer {
  text-align: center;
  font-style: italic;
  &:before {
    content: "";
    display: block;
    position: relative;
    width: 80px;
    height: 4px;
    margin: 0 auto;
    background-color: var(--color-tint);
  }
}

.hero {
  height: 300px;
  margin-top: -4 * $padding + 4px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: var(--color-border);

  @media (min-width: $break) {
    margin-top: 0;
    height: 400px;
  }

  .container {
    min-height: 100%;
  }
}

img.profile {
  width: 140px;
  display: inline-block;
  border-radius: 50%;
  border: 4px solid var(--color-border);
  box-shadow: 0 0 3px var(--color-shadow);

  @media (min-width: 1024px) {
    width: 200px;
  }
}

.hero-profile {
  height: 140px;
  width: 140px;
  background-image: url(/img/profile.jpg);
  background-size: 140px 140px;
  border-radius: 3px;
  position: absolute;
  bottom: -40px;
  border: 4px solid var(--color-border);
}

.article-moreFromSeries {
  background-color: var(--color-box);
  border: 1px solid var(--color-tint);
  font-size: 0.8rem;
  margin-bottom: 40px !important;
}

.seriesList {
  .current {
    font-weight: bold;
    text-decoration: none;
  }
}
