body {
    color: $color-text;
    background-color: $color-background;
}

body.post, body.page {
  &:before {
    border-top: 4px solid $color-tint;
    content: "";
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
}

img {
  display: block;
  width: 100%;
}


html, body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.text-centered {
  text-align: center;
}
