.container {
  max-width: $container;
  margin: 0 10px;
  @media(min-width: $container+20px){
    margin: 0 auto;
  }
}

$size-nav: 40px;

nav.home {
  position: relative;
  left: $padding;
  top: $padding + 2px;
  font-size: $font-size*.8;
  width: $size-nav;


  @media(min-width: $break+2*$size-nav){
    position: fixed;
  }

  a {
    display: block;
    height: $size-nav;
    width: $size-nav;
    background-color: $color-text;
    line-height: $size-nav;
    text-align: center;
    color: $color-background;
    text-decoration: none;
    font-family: $font-family-heading;
    font-weight: lighter;
  }

  + article > .hero {
    margin-top: -($size-nav + 4*$padding);
    @media(min-width:$break+2*$size-nav){
      margin-top: -(4*$padding);
    }
  }
}
